.carousel {
    padding: 81px 0;
    &__inner {
        position: relative;
        max-width: 750px;
        margin: 0 auto;
        div {
            img {
                margin: 0 auto;
                width: 90%;
            }
        }
    }
    .slick-prev, .slick-next  {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -66px;
        border: none;
        background-color: #fff;
        img {
            width: 31px;
            height: 50px;
        }
        &:focus { 
            outline: none; 
        }
        
    }
    .slick-next  {
        right: -66px;
        left: auto;
    }
    .slick-dots {
        padding: 0;
        display: flex;
        justify-content: center;
        margin-top: 10px;
        list-style: none;
        button {
            font-size: 0;
            background-color: #fff;
            border: 2px solid #D0D0D0;
            // box-shadow: 1px 1px 2px $main-color;
            border-radius: 50%;
            height: 20px;
            width: 20px;
            margin: 10px;
            outline: none;
            cursor: pointer;
            transition: 0.5s all;
            &:hover {
                box-shadow: 3px 3px 15px black;
                border: none;
            }
        } 
    }
    .slick-dots li[class="slick-active"] button {
        background: $main-color;
        &:hover {
            box-shadow: 3px 3px 15px black;
            border: none;
        }
    }
    .slick-active {
        button {
            border: none;
            box-shadow: 1px 1px 5px black;
        }
    }

}



